i{
margin-left:10px;
font-size: 48px;
width:50px;
}

button{
      /* Faz com que o botão apareça na direita */
       /* margin-left: auto;
      margin-top: 1em;
      margin-top: -0.25rem;
      display: inline-block;
      text-align: center;
      vertical-align: top; */




}
